<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JTJeopardy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\JT\Desktop\JTJeopardy\JTJeopardy\Jeopardy.mdf;Integrated Security=True"/>
	</appSettings>
 <userSettings>
  <JTJeopardy.Properties.Settings>
   <setting name="Topic1R1" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic2R1" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic3R1" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic4R1" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic5R1" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic6R1" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic1R2" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic2R2" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic3R2" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic4R2" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic5R2" serializeAs="String">
    <value />
   </setting>
   <setting name="Topic6R2" serializeAs="String">
    <value />
   </setting>
  </JTJeopardy.Properties.Settings>
 </userSettings>
</configuration>